<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <%- include('partials/_header') %>
    <% if (user) {%>
      <h2>URLs:</h2>
      <ul>
      <% for(let url in urls){ %>
        <li><p><a href="<%=`/u/${url}`%>"><%= `${url}`%></a>&#160; &#160; &#160;<%= urls[url] %>&#160; &#160;<%=`${url_db[url].accessLog.length} views`%><form method="POST" action="/urls/<%=`${url}`%>/delete"><button>Delete</button></form><a href="/urls/<%=[url]%>"><button>Edit</button></a></p></li>
      <% } %>
      </ul>
      </br>
      <h3>&#160; &#160; &#160; &#160;<a href='/urls/new'>mini-fry a new yew arr el</a></h3>
    <% } else { %>
      <h3>Please <a href='/login'>log in</a> to view short urls</h3>
    <% } %>
</body>
</html>